  @font-face {
    font-family: 'Ramadhan';
    src: url('fonte/Ramadhan\ Stuff.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cerlions';
    src: url('fonte/Cerlions-Regular.otf') format('truetype');
  }

 #img{
    background-image: url(imagem/fundo.png); 
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background-size: cover;
    margin-top: 15%;
 }

#op{
    font-size: calc(2em + 1vw); 
    font-family: 'Cerlions';
    color: rgb(139, 27, 2);
    text-align: center;
    margin-top: 36%;
}
.loja{
    font-size: calc(1em + 1vw); 
    font-family: 'Cerlions';
    color: rgb(13, 3, 0);
    font-weight: bolder;
    text-align: justify;
    line-height: 1.2em;
    margin-top: 38px;
    margin-left: 38px;
}
#tamanho{
  font-size: calc(1em + 1vw); 
  font-family: 'Cerlions';
  color: black;
  font-weight: bolder;
  text-align: justify;
  margin: 38px;
}
footer{
    font-size: calc(1.4em + 1vw); 
    font-family: 'Ramadhan';
    color: rgb(139, 27, 2);
    font-weight: bolder;
    text-align: center;
    margin: 15px;
    margin-top: 58px;
}